* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(181, 151, 151, 1);
  font-family: 'Cormorant', serif;
  font-weight: 400;
}

.page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  color: #3C2A2A;
}

.main-header {
  min-height: 262px;
  background-color: #FFFFFF;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
}

.main-nav {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.site-navigation {
  list-style: none;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.site-navigation-item {
  margin-right: 38px;
  font-size: 18px;
  font-weight: 500;
}

.site-navigation-item a {
  text-decoration: none;
  color: rgba(80, 73, 73, 1);
}

.site-navigation-item:hover {
  font-weight: 700;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.main-content {
  position: relative;
  z-index: 0;
}

.main-content::before {
  content: ' ';
  width: 560px;
  height: 671px;
  left: 51.5%;
  top: 170px;
  position: absolute;
  background-image: url(../img/autor-desktop.png);
  z-index: 1;
}

.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 150px;
  background-color: #FFFFFF;
}

.hero h1 {
  font-weight: 700;
  font-size: 18px;
  padding-left: 100px;
}

.name {
  font-weight: 600;
  font-size: 80px;
  margin-bottom: 11px;
  padding-left: 50px;
}

.container {
  max-width: 472px;
  padding-left: 100px;
}

.desc {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 22px;
}

.laste {
  margin-bottom: 0;
}

.achiev {
  display: inline-block;
  margin-right: 32px;
}

.numbers {
  font-weight: 400;
  font-size: 50px;
}

.achiev p {
  margin-bottom: 0;
}

.services {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 164px 0 164px 0;
  display: flex;
  justify-content: space-between;
}

.product,
.product-down {
  max-width: 560px;
  width: 100%;
}

.product {
  margin-right: 40px;
}

.product-down {
  margin-top: auto;
}

.services-item {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  padding: 40px 0 40px 94px;
  margin-bottom: 20px;
  color: #3C2A2A;
  background-color: #FBF6F6;
  position: relative;
}

.services-item:hover {
  background-color: #ECE2DF;
  transition: 1s;
}

.services-item::after {
  position: absolute;
  content: "  ";
  width: 30px;
  height: 8px;
  top: 48%;
  right: 50px;
  background: url(../svg/Arrow.svg) no-repeat 0 0;
}

.main-footer {
  min-height: 265px;
  box-sizing: border-box;
  flex-shrink: 0;
  padding-top: 103px;
  background-color: #3C2A2A;
}

.footer-wrapper {
  max-width: 1440px;
  min-height: 135px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}

.main-footer div p,
.main-footer div a {
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  color: #FBF6F6;
  text-decoration: none;
}

.main-footer div a:hover {
  text-decoration: underline;
}

.contacts,
.home,
.conf {
  max-width: 300px;
}

.contacts {
  text-align: left;
}

.social {
  display: flex;
  list-style: none;
}

.social__item {
  width: 19px;
  height: 19px;
  display: inline-block;
  position: relative;
}

.social__item:nth-child(1n+1) {
  padding-right: 18px;
}

.link-instagram {
  background: url(../svg/instagram.svg) no-repeat 0 0;
}

.link-telegram {
  background: url(../svg/telegram.svg) no-repeat 0 0;
}

.link-watsup {
  background: url(../svg/watsup.svg) no-repeat 0 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.home {
  text-align: center;
}

.conf {
  text-align: right;
}

@media (max-width: 1140px) {

  .main-content::before {
    display: none;
  }


  .services {
    flex-direction: column;
    padding: 60px 0 60px 0;
    max-width: 560px;
  }

  .services-item {
    padding-left: 30px;
  }

  .services-item::after {
    right: 30px;
  }
}

@media (min-width: 500px) {
  .main-button {
    display: none;
  }
}

@media (max-width: 500px) {

  .main-header {
    min-height: 159px;
  }

  .site-navigation {
    display: none;
  }

  .main-nav {
    padding-right: 37px;
    padding-top: 0;
    align-items: center;
  }

  .main-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
  }

  .main-button::after {
    content: " ";
    position: absolute;
    background: url(../svg/burger.svg) 100% 100%/cover no-repeat;
    width: 50px;
    height: 21px;
    top: 15px;
    right: 0;
  }

  .hero {
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero h1 {
    padding-left: 0;
    font-size: 18px;
  }

  .name {
    font-size: 40px;
    padding-left: 0;
  }

  .container {
    padding-left: 0;
  }

  .numbers {
    font-size: 40px;
  }

  .desc {
    margin-bottom: 16px;
  }

  .desc-mobile {
    display: none;
  }

  .achiev {
    display: inline-block;
    margin-right: 25px;
  }

  .achiev:last-child {
    margin-right: 0;
  }

  .main-footer {
    padding-top: 76px;
    padding-left: 70px;
    padding-bottom: 89px;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .home {
    text-align: left;
    order: 1;
  }

  .conf {
    text-align: left;
  }
}